<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="MeisterGeister.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <connectionStrings>
    <add name="MeisterGeister.Properties.Settings.DatabaseDSAConnectionString"
      connectionString="Data Source=|DataDirectory|\Daten\DatabaseDSA.sdf;Password=m3ist3rg3ist3r;Persist Security Info=False"
      providerName="Microsoft.SqlServerCe.Client.4.0" />
    <add name="DatabaseDSAEntities" connectionString="metadata=res://*/Model.MeisterGeisterModel.csdl|res://*/Model.MeisterGeisterModel.ssdl|res://*/Model.MeisterGeisterModel.msl;provider=System.Data.SqlServerCe.4.0;provider connection string=&quot;Data Source=|DataDirectory|\Daten\DatabaseDSA.sdf&quot;"
      providerName="System.Data.EntityClient" />
  </connectionStrings>
  <applicationSettings>
    <MeisterGeister.Properties.Settings>
      <setting name="MeisterGeisterURL" serializeAs="String">
        <value>http://www.meistergeister.org/meistergeister/</value>
      </setting>
    </MeisterGeister.Properties.Settings>
  </applicationSettings>
</configuration>